:root {
    --primary-dark: #252525;
    --accent-dark: #747474;
    --primary-light: #C4C4C4;
}
body {
    font-family: 'PT Sans', sans-serif;
}

header {
    height:40px;
    background: var(--primary-dark);
    display:flex;
    align-items:center;
    padding:5px 25px;;
}
.app-name {
    color:#fff;
}
.list-header {
    font-size:36px;
    font-weight:bolder;
    margin-top:1rem;
    padding-left:1rem;
}
.item-container{
    display:flex;
    flex-direction:column;
}

/* list item props */
.empty-list {
    font-style:italic;
    margin-top:1rem;
    padding-left:1rem;
}
.list__item {
    display:flex;
    align-items:center;
    border-bottom:solid 1px #eee;
    margin:0 1rem;
    padding:.75rem .5rem;
    position:relative;
}
.list__item.completed{
    opacity:.6;
    order:1;
}

.item__completed {
    border-radius:10px;
    width:30px;
    height:30px;
    border:solid 1px;
    margin-right:1rem;
}
.item__title{
    width:200px;
    font-size:22px;
    border:none;
}
.title-cost-container {
    display:flex;
    flex-direction:column;
}
.price-wrapper{
    display:flex;
    align-items:center;
    align-self:center;
}
.item__price {
    width:5em;
    font-size:18px;
    padding-bottom:0;
    border:none;
}
.quantity-wrapper{
    font-size:12px;
    font-style:italic;
    color:var(--accent-dark)
}
.item__quantity {
    font-size:18px;
    width:50px;
    font-size:12px;
    font-style:italic;
    border:none;
    color:var(--accent-dark)
   
}

/* action bar */
.action-bar {
    position:fixed;
    bottom:0;
    left:0;
    width:100%;
    height:100px;
    border-top:solid 1px var(--primary-light);
    display:flex;
    align-items:center;
    justify-content:center;

}
.current-cost {
    font-size:40px;
}
.btn {
    background:var(--primary-dark);
    color:white;
    width:50px;
    height:50px;
    border-radius:50%;
}
.btn--new-item {
    position:absolute;
    right:1rem;
    font-size:40px;
    text-align:center;
    font-weight:lighter;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}